In [4]:
import pandas as pd
import json
import datetime
import math
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [42]:
dados = pd.read_csv("dados_animais.csv")

In [49]:
# Carregar o valor do arquivo JSON
with open('valor_boi_hoje.json', 'r') as file:
    data = json.load(file)
    valor_boi = float(data['valor'].replace(',', '.'))  # Convertendo para float

# Supondo que seu DataFrame se chame 'dados'
# Verificar se a coluna 'valor' existe e, se sim, removê-la
if 'valor' in dados.columns:
    dados = dados.drop(columns=['valor'])

# Criar a nova coluna 'valor' multiplicando a coluna 'arrobas' pelo valor do arquivo JSON
dados['valor'] = dados['arrobas'] * valor_boi

In [44]:
# Definindo o intervalo de datas
data_inicio = pd.to_datetime('2020-01-01')
data_atual = pd.to_datetime(datetime.now().strftime('%Y-%m-%d'))

# Função para gerar uma data aleatória no intervalo definido
def gerar_data_aleatoria(inicio, fim):
    return inicio + pd.to_timedelta(np.random.randint(0, (fim - inicio).days + 1), unit='D')

# Verificar se a coluna 'nascimento' existe e, se sim, removê-la
if 'nascimento' in dados.columns:
    dados = dados.drop(columns=['nascimento'])

# Criar a nova coluna 'nascimento' com datas aleatórias no intervalo
dados['nascimento'] = [gerar_data_aleatoria(data_inicio, data_atual).strftime('%d-%m-%Y') for _ in range(len(dados))]

In [45]:
dados

,registro,nome,pai,mae,raca,arrobas,sexo,barrigas,imagem,valor,nascimento
0,884-41-1314,Era,Hades,Athenas,Holandes,3,Femea,2,imagem_animal0.jpg,881.7,06-04-2022
1,612-71-5098,Hades,Zeus,Artemis,Holandes,15,Macho,0,imagem_animal1.png,4408.5,13-10-2022
2,603-60-7176,Zeus,Jeovah,Gaia,Angus,18,Macho,0,imagem_animal2.png,5290.2,23-03-2021
3,277-80-4736,Thor,Odin,Athenas,Guzera,6,Macho,0,imagem_animal3.png,1763.4,19-05-2022
4,113-53-8136,Venus,Jupiter,Fortuna,Angus,5,Femea,3,imagem_animal0.jpg,1469.5,06-11-2022
...,...,...,...,...,...,...,...,...,...,...,...
995,610-23-4186,Lucia Beaulieu,Darya Caunce,Waylon Hairon,Angus,12,Femea,2,imagem_animal1.png,3526.8,21-08-2023
996,749-98-5036,Hi Selbach,Letisha Tombling,Dionysus Smurfit,Nelore,4,Macho,0,imagem_animal1.png,1175.6,11-04-2021
997,566-63-4838,Oriana Swyer,Brett Raulin,Orelee Piens,Holandes,2,Femea,1,imagem_animal2.jpg,587.8,12-01-2020
998,642-92-5391,Andrei Tremeer,Erda Ollin,Faythe Clutram,Nelore,16,Femea,2,imagem_animal1.png,4702.4,06-09-2020
999,811-77-4884,Venita Aylmore,Bartholemy Barkworth,Gradey Bentzen,Holandes,15,Macho,3,imagem_animal2.jpg,4408.5,28-03-2020

In [46]:
# Supondo que seu DataFrame se chame 'dados' e tenha uma coluna 'nascimento' no formato 'dia-mes-ano'
# Vamos garantir que a coluna 'nascimento' esteja no formato de data
dados['nascimento'] = pd.to_datetime(dados['nascimento'], format='%d-%m-%Y')

# Função para calcular a idade em meses
def calcular_idade_em_meses(data_nascimento):
    hoje = datetime.now()
    idade_meses = (hoje.year - data_nascimento.year) * 12 + (hoje.month - data_nascimento.month)
    return idade_meses

# Adicionando a coluna 'idade_meses' ao DataFrame
dados['idade_meses'] = dados['nascimento'].apply(calcular_idade_em_meses)

# Função para classificar os bovinos
def classificar_bovino(row):
    if 0 < row['idade_meses'] <= 12:
        return 'Bezerro'
    elif 12 < row['idade_meses'] <= 24:
        return 'Garrote'
    elif 24 < row['idade_meses'] <= 36:
        return 'Novilho'
    return 'Boi'  # Caso não seja Macho ou não se encaixe em nenhuma classificação

# Adicionando a coluna 'classificacao' ao DataFrame
dados['classificacao'] = dados.apply(classificar_bovino, axis=1)

# Exibindo as primeiras linhas para verificar o resultado
print(dados.head())

      registro   nome      pai      mae      raca  arrobas   sexo  barrigas  \
0  884-41-1314    Era    Hades  Athenas  Holandes        3  Femea         2
1  612-71-5098  Hades     Zeus  Artemis  Holandes       15  Macho         0
2  603-60-7176   Zeus   Jeovah     Gaia     Angus       18  Macho         0
3  277-80-4736   Thor     Odin  Athenas    Guzera        6  Macho         0
4  113-53-8136  Venus  Jupiter  Fortuna     Angus        5  Femea         3

               imagem   valor nascimento  idade_meses classificacao
0  imagem_animal0.jpg   881.7 2022-04-06           30       Novilho
1  imagem_animal1.png  4408.5 2022-10-13           24       Garrote
2  imagem_animal2.png  5290.2 2021-03-23           43           Boi
3  imagem_animal3.png  1763.4 2022-05-19           29       Novilho
4  imagem_animal0.jpg  1469.5 2022-11-06           23       Garrote

In [47]:
# Função para atribuir valores aleatórios à coluna 'arrobas' com base na classificação
def calcular_arrobas(classificacao):
    if classificacao == 'Bezerro':
        return np.random.randint(2, 11)  # Valor entre 2 e 10
    elif classificacao == 'Garrote':
        return np.random.randint(10, 20)  # Valor entre 10 e 19
    elif classificacao == 'Novilho':
        return np.random.randint(20, 31)  # Valor entre 20 e 30
    else:
        return np.random.randint(31, 47)  # Valor entre 31 e 46 para outras classificações

# Aplicar a função para preencher a coluna 'arrobas' de acordo com a classificação
dados['arrobas'] = dados['classificacao'].apply(calcular_arrobas)

In [51]:
dados.to_csv('animais.csv', index=False, header=True, sep=';')

In [55]:
dados_animais = pd.read_csv('animais.csv', header=0, sep=';')

In [56]:
dados_animais

,registro,nome,pai,mae,raca,arrobas,sexo,barrigas,imagem,nascimento,idade_meses,classificacao,valor
0,884-41-1314,Era,Hades,Athenas,Holandes,25,Femea,2,imagem_animal0.jpg,2022-04-06,30,Novilho,7347.5
1,612-71-5098,Hades,Zeus,Artemis,Holandes,16,Macho,0,imagem_animal1.png,2022-10-13,24,Garrote,4702.4
2,603-60-7176,Zeus,Jeovah,Gaia,Angus,34,Macho,0,imagem_animal2.png,2021-03-23,43,Boi,9992.6
3,277-80-4736,Thor,Odin,Athenas,Guzera,28,Macho,0,imagem_animal3.png,2022-05-19,29,Novilho,8229.2
4,113-53-8136,Venus,Jupiter,Fortuna,Angus,11,Femea,3,imagem_animal0.jpg,2022-11-06,23,Garrote,3232.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,610-23-4186,Lucia Beaulieu,Darya Caunce,Waylon Hairon,Angus,18,Femea,2,imagem_animal1.png,2023-08-21,14,Garrote,5290.2
996,749-98-5036,Hi Selbach,Letisha Tombling,Dionysus Smurfit,Nelore,39,Macho,0,imagem_animal1.png,2021-04-11,42,Boi,11462.1
997,566-63-4838,Oriana Swyer,Brett Raulin,Orelee Piens,Holandes,45,Femea,1,imagem_animal2.jpg,2020-01-12,57,Boi,13225.5
998,642-92-5391,Andrei Tremeer,Erda Ollin,Faythe Clutram,Nelore,44,Femea,2,imagem_animal1.png,2020-09-06,49,Boi,12931.6
999,811-77-4884,Venita Aylmore,Bartholemy Barkworth,Gradey Bentzen,Holandes,42,Macho,3,imagem_animal2.jpg,2020-03-28,55,Boi,12343.8

In [50]:
dados

,registro,nome,pai,mae,raca,arrobas,sexo,barrigas,imagem,nascimento,idade_meses,classificacao,valor
0,884-41-1314,Era,Hades,Athenas,Holandes,25,Femea,2,imagem_animal0.jpg,2022-04-06,30,Novilho,7347.5
1,612-71-5098,Hades,Zeus,Artemis,Holandes,16,Macho,0,imagem_animal1.png,2022-10-13,24,Garrote,4702.4
2,603-60-7176,Zeus,Jeovah,Gaia,Angus,34,Macho,0,imagem_animal2.png,2021-03-23,43,Boi,9992.6
3,277-80-4736,Thor,Odin,Athenas,Guzera,28,Macho,0,imagem_animal3.png,2022-05-19,29,Novilho,8229.2
4,113-53-8136,Venus,Jupiter,Fortuna,Angus,11,Femea,3,imagem_animal0.jpg,2022-11-06,23,Garrote,3232.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,610-23-4186,Lucia Beaulieu,Darya Caunce,Waylon Hairon,Angus,18,Femea,2,imagem_animal1.png,2023-08-21,14,Garrote,5290.2
996,749-98-5036,Hi Selbach,Letisha Tombling,Dionysus Smurfit,Nelore,39,Macho,0,imagem_animal1.png,2021-04-11,42,Boi,11462.1
997,566-63-4838,Oriana Swyer,Brett Raulin,Orelee Piens,Holandes,45,Femea,1,imagem_animal2.jpg,2020-01-12,57,Boi,13225.5
998,642-92-5391,Andrei Tremeer,Erda Ollin,Faythe Clutram,Nelore,44,Femea,2,imagem_animal1.png,2020-09-06,49,Boi,12931.6
999,811-77-4884,Venita Aylmore,Bartholemy Barkworth,Gradey Bentzen,Holandes,42,Macho,3,imagem_animal2.jpg,2020-03-28,55,Boi,12343.8

In [ ]:
dados = dados[['valor']]

In [76]:
total_animais = (dados[['registro']].count()).get('registro')
total_arroba = (dados[['arrobas']].sum()).get('arrobas')
total_avaliacao = round((dados[['valor']].sum()).get('valor'), 2)

animais_sexo = dados['sexo'].value_counts()
num_machos = animais_sexo.get('Macho', 0)
num_femeas = animais_sexo.get('Femea', 0)

In [72]:
num_bezerros = (dados[['classificacao']].value_counts()).get('Bezerro')
num_garrotes = (dados[['classificacao']].value_counts()).get('Garrote')
num_novilhos = (dados[['classificacao']].value_counts()).get('Novilho')
num_boi = (dados[['classificacao']].value_counts()).get('Boi')
num_prenhas = (dados[['prenha']].sum()).get('prenha')

In [74]:
contagem_valores = dados['prenha'].value_counts()
contagem_valores

prenha
0.0    191
1.0    183
Name: count, dtype: int64

In [73]:
num_prenhas

183.0

In [77]:
print(total_animais,total_arroba,total_avaliacao,num_femeas,num_machos, num_bezerros, num_garrotes, num_novilhos, num_boi, num_prenhas )

1000 23367 6867561.3 482 518 226 213 201 360 183.0

In [17]:
print(dados[['registro']].count())

registro    1000
dtype: int64

In [68]:
def prenhas(row):
    sexo = row['sexo']
    idade_meses = row['idade_meses']
    if sexo == 'Femea' and idade_meses > 12:
        return np.random.randint(0, 2)
    else:
        return None

dados['prenha'] = dados.apply(prenhas, axis=1)

In [69]:
dados

,registro,nome,pai,mae,raca,arrobas,sexo,barrigas,imagem,nascimento,idade_meses,classificacao,valor,prenha
0,884-41-1314,Era,Hades,Athenas,Holandes,25,Femea,2,imagem_animal0.jpg,2022-04-06,30,Novilho,7347.5,1.0
1,612-71-5098,Hades,Zeus,Artemis,Holandes,16,Macho,0,imagem_animal1.png,2022-10-13,24,Garrote,4702.4,NaN
2,603-60-7176,Zeus,Jeovah,Gaia,Angus,34,Macho,0,imagem_animal2.png,2021-03-23,43,Boi,9992.6,NaN
3,277-80-4736,Thor,Odin,Athenas,Guzera,28,Macho,0,imagem_animal3.png,2022-05-19,29,Novilho,8229.2,NaN
4,113-53-8136,Venus,Jupiter,Fortuna,Angus,11,Femea,3,imagem_animal0.jpg,2022-11-06,23,Garrote,3232.9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,610-23-4186,Lucia Beaulieu,Darya Caunce,Waylon Hairon,Angus,18,Femea,2,imagem_animal1.png,2023-08-21,14,Garrote,5290.2,0.0
996,749-98-5036,Hi Selbach,Letisha Tombling,Dionysus Smurfit,Nelore,39,Macho,0,imagem_animal1.png,2021-04-11,42,Boi,11462.1,NaN
997,566-63-4838,Oriana Swyer,Brett Raulin,Orelee Piens,Holandes,45,Femea,1,imagem_animal2.jpg,2020-01-12,57,Boi,13225.5,0.0
998,642-92-5391,Andrei Tremeer,Erda Ollin,Faythe Clutram,Nelore,44,Femea,2,imagem_animal1.png,2020-09-06,49,Boi,12931.6,0.0
999,811-77-4884,Venita Aylmore,Bartholemy Barkworth,Gradey Bentzen,Holandes,42,Macho,3,imagem_animal2.jpg,2020-03-28,55,Boi,12343.8,NaN

In [82]:
dados.to_csv('dados_animais_ok.csv', header=True, sep=';', index=False)

In [84]:
df = pd.read_csv('dados_animais.csv', header=0, sep=';')
df

,registro,nome,pai,mae,raca,arrobas,sexo,barrigas,imagem,nascimento,idade_meses,classificacao,valor,prenha
0,884-41-1314,Era,Hades,Athenas,Holandes,25,Femea,2,imagem_animal0.jpg,2022-04-06,30,Novilho,7347.5,1.0
1,612-71-5098,Hades,Zeus,Artemis,Holandes,16,Macho,0,imagem_animal1.png,2022-10-13,24,Garrote,4702.4,NaN
2,603-60-7176,Zeus,Jeovah,Gaia,Angus,34,Macho,0,imagem_animal2.png,2021-03-23,43,Boi,9992.6,NaN
3,277-80-4736,Thor,Odin,Athenas,Guzera,28,Macho,0,imagem_animal3.png,2022-05-19,29,Novilho,8229.2,NaN
4,113-53-8136,Venus,Jupiter,Fortuna,Angus,11,Femea,3,imagem_animal0.jpg,2022-11-06,23,Garrote,3232.9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,610-23-4186,Lucia Beaulieu,Darya Caunce,Waylon Hairon,Angus,18,Femea,2,imagem_animal1.png,2023-08-21,14,Garrote,5290.2,0.0
996,749-98-5036,Hi Selbach,Letisha Tombling,Dionysus Smurfit,Nelore,39,Macho,0,imagem_animal1.png,2021-04-11,42,Boi,11462.1,NaN
997,566-63-4838,Oriana Swyer,Brett Raulin,Orelee Piens,Holandes,45,Femea,1,imagem_animal2.jpg,2020-01-12,57,Boi,13225.5,0.0
998,642-92-5391,Andrei Tremeer,Erda Ollin,Faythe Clutram,Nelore,44,Femea,2,imagem_animal1.png,2020-09-06,49,Boi,12931.6,0.0
999,811-77-4884,Venita Aylmore,Bartholemy Barkworth,Gradey Bentzen,Holandes,42,Macho,3,imagem_animal2.jpg,2020-03-28,55,Boi,12343.8,NaN

In [89]:
def gerar_grafico_barras(num_machos, num_femeas):
    # Definir dados para o gráfico
    categorias = ['Machos', 'Fêmeas']
    valores = [num_machos, num_femeas]

    # Criar o gráfico de barras
    plt.figure(figsize=(6, 4))
    plt.bar(categorias, valores, color=['blue', 'pink'])
    plt.xlabel('Sexo')
    plt.ylabel('Quantidade')
    plt.title('Comparação de Machos e Fêmeas')

    # Salvar o gráfico como uma imagem na pasta 'static'
    # plt.savefig(r'C:\cardim sistemas\static\grafico_machos_femeas.png')
    plt.savefig('static/grafico_machos_femeas.png')
    plt.close()

In [90]:
img = gerar_grafico_barras

In [1]:
def carregar_dados_hist_preco():
    # Coloque aqui a lógica para carregar os dados
    df = pd.read_csv('dados/dados-historico-boi-gordo.csv', delimiter=';')
    df['data'] = pd.to_datetime(df['data'], format='%d/%m/%Y', errors='coerce')
    df['valor-rs'] = pd.to_numeric(df['valor-rs'].str.replace(',', '.'), errors='coerce')
    return df

In [2]:
dados_preco = carregar_dados_hist_preco()

# Filtrar os dados para os últimos 30 dias
last_30_days = datetime.now() - timedelta(days=30)
df_last_30_days = dados_preco[dados_preco['data'] >= last_30_days]
df_last_30_days = df_last_30_days.sort_values(by='data')

# Gerar o gráfico e salvar como imagem
plt.figure(figsize=(6, 4))  # Ajuste para um tamanho máximo de 420px
plt.bar(df_last_30_days['data'].dt.strftime('%Y-%m-%d'), df_last_30_days['valor-rs'])
plt.xlabel('Data')
plt.ylabel('Valor (R$)')
plt.title('Valores do Boi Gordo nos Últimos 30 Dias')
plt.xticks(rotation=45)
plt.tight_layout()
image_path = 'static/images/grafico_boi_gordo.png'
plt.savefig(image_path)

NameError: name 'pd' is not defined